@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    margin: 0;
    
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    

    box-sizing: border-box;
}

p{
    margin: 0;
}

p + p{
    margin-top: 15px;
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

img{
    max-width: 100%;
}



/* HEADER NAV SECTION */

.btn
{
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;

    height: 50px;
    border-radius: 5px;   
    width: 165px;
    background-color: #F6762C;

    transition: opacity 0.3s;
}

.btn:hover{
    opacity: 0.8;
}

.header {
    padding: 25px 0;
    position:relative;
    z-index: 10000;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__nav a{

    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a:hover{

    opacity: 0.9;
}

.header__nav a.active{
    opacity: 1;
}

.header__list {
    display: flex;
    gap: 30px;

}

.main {
    margin: 0px;
}

/* WELCOM SECTION */
.welcome {
    min-height: 100vh;
    position: relative;

    box-sizing: border-box;

    margin-top: -100px;
    padding: 240px 0;
    background-image: url("./welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text{
    width: 550px;
}

.welcome__subtitle {
    font-style: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 7px;

}

.welcome__title {
    font-size: 58px;
}

.welocome__desc {
    font-size: 18px;
    opacity: 0.7;
    margin: 40px 0;
} 

/* Список еды */

.food-list {
    padding: 100px 0;
}

.food-list .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    overflow: hidden;
    text-align: center;

    width: 260px;
    background-color: #312F30;
    border-radius: 10px;
}

.good-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__text-wrapper{
    padding: 30px 20px;   
}

.food-list__title {
    font-size: 20px;
    margin-bottom: 15px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}


/* order */

.order {
    background-color: #312F30;
    padding: 60px 0;
}
.order .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 100px 100;
    padding-right: 90px;

}
.order__img {
    max-width: 470px;
}
.order__text {
    max-width: 360px;
}
.order__title {
    margin-bottom: 25px;
    font-size: 44px;
}
.order__desc {
    margin-bottom: 15px;
    opacity: 0.7;
}
.order__price {
    font-weight: 500;
    font-style: 20px;
    letter-spacing: 0.1em;
    color: #F6762C;
}
.order__price + .order__price{
    margin-left: 5px;
}

.order__old-price {
    font-weight: 500;
    text-decoration-line: line-through;
    color: #F6762C;
    opacity: 0.5;
}
.order .btn {
    margin-top: 10px;
}

/* product */

.product{
    padding: 150px;
}

.product .container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;    
}

.product__card {
    box-sizing: border-box;

    width: 555px;
    min-height: 300px;

    padding: 60px 30px 60px 290px;
    background-size: cover;
    background-position: center;
}

.product__card:nth-child(even){
    padding-left: 30px;
    padding-right: 290px;
}

.product_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.product__desc {
    opacity: 0.7;
    margin-bottom: 10px;
}

.product__price {
    font-weight: 500;
    letter-spacing: 0.1em;

    color: #F6762C;
}

.product__price + .product__price{
    margin-left: 5px;
}

.product__old-price {
    font-weight: 500;
    text-decoration-line: line-through;
    color: #F6762C;
    opacity: 0.5;
}

.btn--small {   
    width: 140px;
    height: 39px;

    font-size: 12px;

}

.card-queen{
    background-image: url(./product-1.jpg);
    background-repeat: no-repeat;
    
}
.card-hut{
    background-image: url(./product-2.jpg);
    background-repeat: no-repeat;

}
.card-king{
    background-image: url(./product-3.jpg);
    background-repeat: no-repeat;

}
.card-papa{
    background-image: url(./product-4.jpg);
    background-repeat: no-repeat;

}
/* feedback */

.feedback .container {
    padding-bottom: 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;

}

.feedback__text {
    width: 370px;

    margin: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.feedback__text::before {
    content: url(./icons/quote.svg);
}

.feedback__desc {
    text-align: center;

    margin: 30px 0;
}

.feedback__author {
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.feeedback__subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;

    display: block;
}

/* DOWNLOAD */

.download {
    background-color: #312F30;
    padding: 60px 0;
}

.download .container {
    display: flex;
    justify-content: space-around;

}

.download__title {
    font-weight: 500;
    font-size: 40px;

}


/* Footer */

.footer {
    padding: 120px 0;
}



.footer a {
    
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8)
}

.footer .footer__title {
    
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.footer .container {
    

    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
}


.footer__contacts {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__logo {
    margin-bottom: 20px;
    width: 70px;
}
.footer__link + .footer__link{
    
    margin-top: 10px;
}
.footer__link{
    gap: 10px;

    display: flex;
    align-items: center;

    width: 12px;
    height: 12px;
}
.footer__link::before{
    width: 12px;
    height: 12px;
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__link-mail::before{
    content: url("./icons/mail.svg");
    
}
.footer__link-web::before{
    content: url("./icons/global.svg");
}


.footer__list-item + .footer__list-item{
    margin-top: 15px; 
}

.footer__social-link + .footer__social-link{
    margin-left: 7px;
}

